

body {
    height: 400vh;
    background-color: #7ee741;
}

::-webkit-scrollbar{
    width: 1.5rem;
}

::-webkit-scrollbar-track{
    background-color: #849188;
    

}

::-webkit-scrollbar-thumb{
    background:rgb(179, 22, 134) ;
    border-radius: 2rem;
    border: 0.3rem solid transparent;
    background-clip: content-box;
}

h1 {
    position: fixed;
    top: 28rem;
    left: 50rem;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}