*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9e9e9c;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 10rem;
    width: 20rem; */
    padding: 2rem 2rem ;
    border: none;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 0 0 5px #000;
    background-color:rgb(245, 201, 6) ;
}

button {
    font-size: 17px;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    background-color: #767879;
    color: #fff;
    box-shadow: 3px 3px 2px ;
    cursor: pointer;
}

span {
    font-size: 20px;
    padding: 3px 15px;
    border: 1px solid #000;
    font-weight: 700;
}
.btn-container{
display: flex;
gap: 10px;
    
}

#decrement-Btn {
 color:red;
 
}

#increment-Btn {
    color: rgb(61, 245, 15);
   
    
}
